.FilterContainer{
  width: 100%;
  padding-bottom: 50px;
}

.Filter {
  width: 80%;
  margin: auto;
}

.Item{
  width: 25% !important;
  float: left;
}

.SearchButton{
  float: right;
  display: inline-block;
  position: relative;
  bottom: 2px;
}

.Date{
  position: relative;
  top: 8px;
  display: inline-block;

}
