.Header {
  background-color: white;
}

.HeaderBanner {
  display: flex;
  flex-flow: row nowrap;
}

.logo {
  width: 80px;
  height: 80px;
  background: url("./resources/logo.jpg") no-repeat;
  margin-left: 30px;
  display: inline-block;
}

.social {

}

.social ul {
  float: right;
  position: absolute;
  top: 15px;
  right: 30px;
  color: grey;
}

.social ul li {
  float: left;
  margin-left: 30px;
  text-decoration: none;
  list-style-type: none;
}

.amountOfEvent {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  color: orange;
  float: right;
}

.content {
  margin-left: 130px;
  display: inline-block;
  color: grey;
  margin-bottom: 45px;
}

.content h4 {
  color: silver;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.content h2 {
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  color: #666;
}
